table,
td,
th {
    border: 3px solid #ddd;
    text-align: ;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
}

th,
td {
    padding: 15px;
    height: auto;
    width: auto;
}

li {
    list-style-type: none;
}



.facilities {
    margin-left: 100px;
    color: black;
    line-height: 1.5;
    font-size: 19px;
    font-weight: 700
}
